<div class="container">
    <main class="main_content">
        <div class="form_container">
            <span class="login_title">Login</span>
            <form class="login_form" [formGroup]="myForm" (ngSubmit)="login()">
                <input type="text" class="login_email" placeholder="Email" formControlName="email">
                <input type="password" class="login_password" placeholder="Password" formControlName="password">
                <input type="submit" class="login_submit" value="login">
            </form>
            <span class="signup_message">Dont have an account? <a routerLink="/signup" style="color: red; cursor: pointer; text-decoration: none;">&nbsp;&nbsp;SIGNUP</a></span>
        </div>
    </main>
    <aside class="aside_content">
        <div class="content_container">
            <span class="welcome_text">Welcome back!</span>
            <div class="underline"></div>
        </div>
        <div class="aside_overlay"></div>
    </aside>
</div>