<div class="container">
    <main class="main_content">
        <div class="form_container">
            <span class="signup_title">Signup</span>
            <form class="signup_form" [formGroup]="myForm" (ngSubmit)="signup()">
                <input type="text" class="signup_email" placeholder="Email" formControlName="email">
                <input type="password" class="signup_password" placeholder="Password" formControlName="password">
                <input type="submit" class="signup_submit" value="Signup">
            </form>
            <span class="login_message">Already a member? <a routerLink="/login" style="color: red; cursor: pointer; text-decoration: none;">&nbsp;&nbsp;LOGIN</a></span>
        </div>
    </main>
    <aside class="aside_content">
        <div class="content_container">
            <span class="welcome_text">Join ng-weather today!</span>
            <div class="underline"></div>
        </div>
        <div class="aside_overlay"></div>
    </aside>
</div>