<div class="container">
    <div class="left_content">
        <svg (click)="toggleMenu()" class="hamburger_icon" id="Menu_Burger_Icon" data-name="Menu Burger Icon"
            viewBox="31.5 30 49.9 32">
            <defs>
                <style>.hamburger__icon__fill {
                fill: #594e78
                }</style>
            </defs>
            <rect id="Rectangle_9" width="49.9" height="4" [ngClass]="{'hamburger__icon__fill-dark': darkModeActive}"
                    class="hamburger__icon__fill" data-name="Rectangle 9" rx="2"
                    transform="translate(31.5 58)"></rect>
            <rect id="Rectangle_10" width="49.9" height="4" [ngClass]="{'hamburger__icon__fill-dark': darkModeActive}"
                    class="hamburger__icon__fill" data-name="Rectangle 10" rx="2"
                    transform="translate(31.5 44)"></rect>
            <rect id="Rectangle_11" width="49.9" height="4" [ngClass]="{'hamburger__icon__fill-dark': darkModeActive}"
                    class="hamburger__icon__fill" data-name="Rectangle 11" rx="2"
                    transform="translate(31.5 30)"></rect>
        </svg>
    
        <svg class="logo_icon" viewBox="150.3 22.2 213.7 42.8">
            <path fill="#00ff9b" d="M150.3 65V22.2L193 65z" data-name="Path 1"></path>
            <path fill="#003eff" d="M193.1 65h-42.8L193 22.2z" data-name="Path 2"></path>
            <text [ngClass]="{'logo__text-dark': darkModeActive}" class="logo__text" fill="#432c85"
                    font-family="SegoeUI-Semibold,Segoe UI" font-size="30" font-weight="600"
                    letter-spacing=".1em" transform="translate(220 56)">
                <tspan x="0" y="0">Weather</tspan>
            </text>
        </svg>
    </div>
    <div class="centre_content">
        <span class="day_text">TODAY</span>
    </div>
    <div class="right_content">
        <span class="theme_text">LIGHT</span>
        <div class="toggle_container" (click)="toggleDarkMode()">
            <div class="toggle_base"></div>
            <div 
                [ngClass]="{'toggle_circle_on': globalService.darkMode, 'toggle_circle_off': !globalService.darkMode}"
                class="toggle_circle">
            </div>
        </div>
        <span class="theme_text">DARK</span>
    </div>
</div>