.main_content {
    flex: 1.2;
}

.form_container {
    min-height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_title {
    display: block;
    font-size: 36px;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 3vh;
}

.login_form {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_username {
    font-size: 24px;
    width: 70%;
    outline: 0;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0,255,.3);
    margin: 25px 0;
    padding: 15px;
}

.login_password {
    font-size: 24px;
    width: 70%;
    outline: 0;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0,255,.3);
    margin: 25px 0;
    padding: 15px;
}

.login_submit {
    font-size: 24px;
    color: white;
    padding: 10px;
    border-radius: 25px;
    background-color: #00ff9b;
    width: 50%;
    border: none;
    margin: 25px 0;
}

.signup_message {
    font-size: 18px;
    text-align: center;
}